# IBM Data Analyst Capstone Technology Trends Survey Cleaning

# Data Loading & Initial Exploration

Load the survey dataset and perform a quick inspection to understand the structure, available columns, and data format before processing.

In [4]:
import pandas as pd

# Load CSV
df = pd.read_csv("survey_data_updated 5.csv")
# Quick peek
df.head()

,ResponseId,MainBranch,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,SurveyLength,SurveyEase,ConvertedCompYearly,JobSat
0,2,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Bachelor's degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
1,3,I am a developer by profession,45-54 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Master's degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN,NaN
2,10,I am a developer by profession,35-44 years old,"Independent contractor, freelancer, or self-em...",Remote,Apples,Bootstrapping a business,"Master's degree (M.A., M.S., M.Eng., MBA, etc.)",On the job training;Other online resources (e....,Technical documentation;Blogs;Written Tutorial...,...,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN,NaN
3,11,"I used to be a developer by profession, but no...",35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects,"Bachelor's degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Books;Written Tutorial...,...,25.0,10.0,0.0,15.0,0.0,0.0,Appropriate in length,Easy,NaN,8.0
4,12,I am a developer by profession,45-54 years old,"Employed, full-time",In-person,Apples,Hobby;School or academic work,"Professional degree (JD, MD, Ph.D, Ed.D, etc.)","Books / Physical media;School (i.e., Universit...",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,NaN,NaN

In [6]:
# List all columns
df.columns

Index(['ResponseId', 'MainBranch', 'Age', 'Employment', 'RemoteWork', 'Check',
       'CodingActivities', 'EdLevel', 'LearnCode', 'LearnCodeOnline',
       ...
       'JobSatPoints_6', 'JobSatPoints_7', 'JobSatPoints_8', 'JobSatPoints_9',
       'JobSatPoints_10', 'JobSatPoints_11', 'SurveyLength', 'SurveyEase',
       'ConvertedCompYearly', 'JobSat'],
      dtype='object', length=114)

# Identifying Technology Usage Columns

Filter and identify columns related to technologies respondents have worked with, enabling focused analysis on relevant survey fields.

In [7]:
# Look for all columns containing 'HaveWorkedWith'
tech_columns = [col for col in df.columns if "HaveWorkedWith" in col]
tech_columns

['LanguageHaveWorkedWith',
 'DatabaseHaveWorkedWith',
 'PlatformHaveWorkedWith',
 'WebframeHaveWorkedWith',
 'EmbeddedHaveWorkedWith',
 'MiscTechHaveWorkedWith',
 'ToolsTechHaveWorkedWith',
 'NEWCollabToolsHaveWorkedWith',
 'OfficeStackAsyncHaveWorkedWith',
 'OfficeStackSyncHaveWorkedWith',
 'AISearchDevHaveWorkedWith']

# Processing Current Technology Usage

Split semicolon-separated responses, normalize values, and calculate the Top 10 technologies currently used across languages, databases, platforms, and web frameworks.

In [8]:
# Strip any extra spaces from column names just in case
df.columns = df.columns.str.strip()

# Columns to explode for Current Technology Usage
current_tech_columns = [
    'LanguageHaveWorkedWith',
    'DatabaseHaveWorkedWith',
    'PlatformHaveWorkedWith',
    'WebframeHaveWorkedWith'
]

# Function to explode semicolon-separated values
def explode_column(df, col):
    df_col = df[[col]].dropna()              # drop NaN
    df_col[col] = df_col[col].str.split(";") # split by semicolon
    df_col = df_col.explode(col)             # one value per row
    df_col[col] = df_col[col].str.strip()   # trim spaces
    return df_col

# Dictionary to store Top 10 counts
top10_current = {}

# Explode each column and get Top 10
for col in current_tech_columns:
    exploded = explode_column(df, col)
    top10 = exploded[col].value_counts().head(10)
    top10_current[col] = top10
    print(f"Top 10 {col}:\n{top10}\n")

Top 10 LanguageHaveWorkedWith:
,LanguageHaveWorkedWith
,JavaScript                 14943
,SQL                        12602
,HTML/CSS                   12410
,TypeScript                 10709
,Python                      9590
,Bash/Shell (all shells)     7244
,C#                          6340
,Java                        5982
,PHP                         4644
,PowerShell                  3438
,Name: count, dtype: int64
,
,Top 10 DatabaseHaveWorkedWith:
,DatabaseHaveWorkedWith
,PostgreSQL              11514
,MySQL                    8556
,SQLite                   7021
,MongoDB                  5930
,Microsoft SQL Server     5870
,Redis                    5814
,MariaDB                  3994
,Elasticsearch            3491
,Dynamodb                 2268
,Oracle                   1907
,Name: count, dtype: int64
,
,Top 10 PlatformHaveWorkedWith:
,PlatformHaveWorkedWith
,Amazon Web Services (AWS)    10871
,Microsoft Azure               6681
,Google Cloud                  5537
,Cloudflare                    3874
,Digital Ocean                 3170
,Firebase                      3025
,Vercel                        2875
,Heroku                        2002
,Netlify                       1662
,Hetzner                       1392
,Name: count, dtype: int64
,
,Top 10 WebframeHaveWorkedWith:
,WebframeHaveWorkedWith
,Node.js         9230
,React           8999
,jQuery          4810
,Express         4408
,Next.js         4399
,ASP.NET CORE    4319
,Angular         4038
,Vue.js          3642
,ASP.NET         3094
,Spring Boot     2916
,Name: count, dtype: int64
,

# Exporting Top 10 Current Technology Results

Save cleaned and aggregated results as CSV files for visualization, dashboard creation, and further analy

In [9]:
# Convert dictionary of top 10 into a DataFrame for each panel
for col, top10 in top10_current.items():
    top10_df = top10.reset_index()
    top10_df.columns = [col, "Count"]
    # Save CSV
    top10_df.to_csv(f"Top10_{col}.csv", index=False)
    print(f"Saved Top10_{col}.csv")

Saved Top10_LanguageHaveWorkedWith.csv
,Saved Top10_DatabaseHaveWorkedWith.csv
,Saved Top10_PlatformHaveWorkedWith.csv
,Saved Top10_WebframeHaveWorkedWith.csv

# Analyzing & Export Future Technology Preferences

Extract and rank technologies respondents want to work with in the future to identify emerging trends and skill demand.
Store future trend rankings in CSV format to support comparative analysis between current usage and future interest.

In [10]:
# Columns for Future Technology Trend
future_tech_columns = [
    'LanguageWantToWorkWith',
    'DatabaseWantToWorkWith',
    'PlatformWantToWorkWith',
    'WebframeWantToWorkWith'
]

# Dictionary for top 10
top10_future = {}

for col in future_tech_columns:
    if col in df.columns:  # some may be missing, just in case
        exploded = explode_column(df, col)
        top10 = exploded[col].value_counts().head(10)
        top10_future[col] = top10
        # Save to CSV
        top10_df = top10.reset_index()
        top10_df.columns = [col, "Count"]
        top10_df.to_csv(f"Top10_{col}.csv", index=False)
        print(f"Saved Top10_{col}.csv")

Saved Top10_LanguageWantToWorkWith.csv
,Saved Top10_DatabaseWantToWorkWith.csv
,Saved Top10_PlatformWantToWorkWith.csv
,Saved Top10_WebframeWantToWorkWith.csv

In [12]:
# List all columns in your dataset
df.columns.tolist()

['ResponseId',
 'MainBranch',
 'Age',
 'Employment',
 'RemoteWork',
 'Check',
 'CodingActivities',
 'EdLevel',
 'LearnCode',
 'LearnCodeOnline',
 'TechDoc',
 'YearsCode',
 'YearsCodePro',
 'DevType',
 'OrgSize',
 'PurchaseInfluence',
 'BuyNewTool',
 'BuildvsBuy',
 'TechEndorse',
 'Country',
 'Currency',
 'CompTotal',
 'LanguageHaveWorkedWith',
 'LanguageWantToWorkWith',
 'LanguageAdmired',
 'DatabaseHaveWorkedWith',
 'DatabaseWantToWorkWith',
 'DatabaseAdmired',
 'PlatformHaveWorkedWith',
 'PlatformWantToWorkWith',
 'PlatformAdmired',
 'WebframeHaveWorkedWith',
 'WebframeWantToWorkWith',
 'WebframeAdmired',
 'EmbeddedHaveWorkedWith',
 'EmbeddedWantToWorkWith',
 'EmbeddedAdmired',
 'MiscTechHaveWorkedWith',
 'MiscTechWantToWorkWith',
 'MiscTechAdmired',
 'ToolsTechHaveWorkedWith',
 'ToolsTechWantToWorkWith',
 'ToolsTechAdmired',
 'NEWCollabToolsHaveWorkedWith',
 'NEWCollabToolsWantToWorkWith',
 'NEWCollabToolsAdmired',
 'OpSysPersonal use',
 'OpSysProfessional use',
 'OfficeStackAsyncHaveWorkedWith',
 'OfficeStackAsyncWantToWorkWith',
 'OfficeStackAsyncAdmired',
 'OfficeStackSyncHaveWorkedWith',
 'OfficeStackSyncWantToWorkWith',
 'OfficeStackSyncAdmired',
 'AISearchDevHaveWorkedWith',
 'AISearchDevWantToWorkWith',
 'AISearchDevAdmired',
 'NEWSOSites',
 'SOVisitFreq',
 'SOAccount',
 'SOPartFreq',
 'SOHow',
 'SOComm',
 'AISelect',
 'AISent',
 'AIBen',
 'AIAcc',
 'AIComplex',
 'AIToolCurrently Using',
 'AIToolInterested in Using',
 'AIToolNot interested in Using',
 'AINextMuch more integrated',
 'AINextNo change',
 'AINextMore integrated',
 'AINextLess integrated',
 'AINextMuch less integrated',
 'AIThreat',
 'AIEthics',
 'AIChallenges',
 'TBranch',
 'ICorPM',
 'WorkExp',
 'Knowledge_1',
 'Knowledge_2',
 'Knowledge_3',
 'Knowledge_4',
 'Knowledge_5',
 'Knowledge_6',
 'Knowledge_7',
 'Knowledge_8',
 'Knowledge_9',
 'Frequency_1',
 'Frequency_2',
 'Frequency_3',
 'TimeSearching',
 'TimeAnswering',
 'Frustration',
 'ProfessionalTech',
 'ProfessionalCloud',
 'ProfessionalQuestion',
 'Industry',
 'JobSatPoints_1',
 'JobSatPoints_4',
 'JobSatPoints_5',
 'JobSatPoints_6',
 'JobSatPoints_7',
 'JobSatPoints_8',
 'JobSatPoints_9',
 'JobSatPoints_10',
 'JobSatPoints_11',
 'SurveyLength',
 'SurveyEase',
 'ConvertedCompYearly',
 'JobSat']

# Demographic Data Analysis

Analyze respondent demographics (age, country, education level) to provide context for technology trends and support segmented insights.
Generate structured CSV outputs for demographic variables to be used in dashboards, reports, and visual summaries.

In [13]:
# Load CSV
df = pd.read_csv("survey_data_updated 5.csv")

# Strip any extra spaces from column names
df.columns = df.columns.str.strip()

# -------------------------------
# 1️⃣ Respondent distribution by Age
# -------------------------------
df['Age'].value_counts().sort_index().to_csv("Age_Distribution.csv", header=["Count"])
print("Saved Age_Distribution.csv")

# -------------------------------
# 2️⃣ Respondent count by Country
# -------------------------------
df['Country'].value_counts().to_csv("Country_Count.csv", header=["Count"])
print("Saved Country_Count.csv")

# -------------------------------
# 3️⃣ Respondent distribution by Education Level
# -------------------------------
df['EdLevel'].value_counts().to_csv("Education_Distribution.csv", header=["Count"])
print("Saved Education_Distribution.csv")

Saved Age_Distribution.csv
,Saved Country_Count.csv
,Saved Education_Distribution.csv